@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #212121;
  --white: #fff;
  --dark-gray: #555555;
  --gray: #666;
  --red: #f81414;
  --green: #13bb00;
  --light-blue: #01a0c8;
}

body {
  color: var(--white);
  background-color: var(--black);
}

.favCharsDiv {
  max-height: calc(100vh - 260px);
}
